.MainCard {
  width: 70%;
  background-color: white;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 3px 10px 0 var(--light-shadow);
}
.infoItem{
  display: none;
  padding: 14px 16px;
  text-align: left;
}
.openItem{
  font-size: 1em;
  background-color: var(--light-grey);
  border: 1px solid var(--grey);
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 6px 16px;
  margin: 6px 0;
  transition: 0.1s;
  width: 100%;
}
.openItem:hover {
  background-color: var(--light-grey);
}
.openItem.active {
  background-color: var(--grey);
}
@media screen and (max-width: 600px) {
  .MainCard {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 15px 5px;
  }
}
