#publishBtn {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5 20;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--grey);
  }
  #publishBtn:hover {
    background-color: var(--light-grey);
    cursor: pointer;
  }
  #coverPlaceholder {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    max-height: 20%;
    background-image: url('https://cdn.steemitimages.com/DQmTb43e7begK93PRNBvKY7Mk6TjyZyxybuV2JyuEcb556R/placeholder.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  #coverPreview {
    width: 100%;
    object-fit: cover;
  }
  .discussionForm {
    width: 70%;
    background-color: white;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 3px 10px 0 var(--light-shadow);
  }
  #tagWarning {
    display: none;
    opacity: 0.8;
    color: #724e01;
    background-color: #ebd382;
    padding: 5px;
    border: 1px solid #724e01;
    border-radius: 5px;
  }
  @media screen and (max-width: 600px) {
    .discussionForm {
      box-sizing: border-box;
      width: 100%;
      margin: 10px 0;
      padding: 15px 5px;
    }
  }