.argumentRow {
  padding-top: 10px;
}

.argumentRow:after {
  display: table;
  clear: both;
}

.argumentColumn {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: thin;
  float: left;
  margin: 1%;
  padding: 15px;
  width: 49%;
}

.argumentColumn.pro {
  margin-left: 0;
  border-color: rgba(0, 133, 0, 0.5);
}

.argumentColumn.con {
  margin-right: 0;
  border-color: rgba(158, 0, 0, 0.5);
}

.argumentColumn h3 {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

#discussionBody {
  width: 90%;
  overflow: hidden;
}

.commentBox {
  margin-left: 5px;
}

.commentList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.commentList p {
  text-align: left;
}

.comment-card {
  width: 100%;
  background-color: white;
}

.comment {
  margin: 10px;
  text-align: left;
}

.editlink {
  margin: 0 10px;
  font-size: 1.2em;
}

.editlink:hover {
  cursor: pointer;
}

.collapsibleButton {
  padding: 8px;
  margin: 5px;
  background-color: #ddd;
  cursor: pointer;
  width: 60%;
  border: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #ccc;
}

.relevantButton {
  color: #ccc;
}

.relevantButton:hover {
  color: #73a07f;
  cursor: pointer;
}

.relevantButton.activated {
  color: #3b9954;
}

.relevantButton.activated:hover {
  color: #ba5925;
}

.relevantButton.rotate {
  -webkit-animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  cursor: default;
}

.voteCounter {
  position: relative;
  display: inline-block;
  font-size: 12px;
  transform: translate(0, -4px);
  cursor: pointer;
}

.voteCounter .voterList {
  display: none;
  position: absolute;
  min-width: 150px;
  text-align: left;
  padding: 0 10px;
  background-color: rgb(43, 43, 43);
  color: #fff;
  font-weight: 200;
  border-radius: 3px;
  top: 100%;
  z-index: 10;
}

.voteCounter:hover .voterList {
  display: block;
}

.relevantButton.rotate {
  -webkit-animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  cursor: default;
}

#upvoteButton {
  color: #ccc;
}

#upvoteButton:hover {
  color: #73a07f;
  cursor: pointer;
}

#upvoteButton.rotate {
  -webkit-animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  cursor: default;
}

#upvoteButton.rotate:hover {
  color: #ccc;
}

#upvoteButton.activated {
  color: #3b9954;
}

#upvoteButton.activated:hover {
  color: #ba5925;
}

.backButton {
  background-color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
  padding: 8px 16px;
  transition: 0.3s;
}

.backButton:hover {
  background-color: #ccc;
}

#blackBackGround {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

#editBox, #commentStructureBox {
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  margin: 5% auto;
  overflow: scroll;
  padding: 15px 30px 15px 30px;
  border-radius: 4px;
}

#editBox p {
  font-weight: bold;
  margin: 8px;
}

input[type=radio] {
  width: auto;
  margin-bottom: 0.5em;
}

form {
  margin: 0;
}