* {
  font-family: Aleo;
}
body {
  background-color: #edeeef;
}
a {
  color: #000000;
  text-decoration: none;
}
input {
  width: 100%;
  padding-top: 5;
  padding-bottom: 5;
  vertical-align: middle;
}
textarea {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  max-width: 100%;
}
header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 60px;
}
footer {
  background-color: #656e67;
  padding: 10px;
  width: 90%;
}
#createAccount {
  margin: auto;
  margin-right: 10px;
  display: none;
}
#createAccount:hover {
  opacity: 0.5;
  cursor: hand;
}
button:disabled {
  cursor: default;
}
#body {
  width: 90%;
}
.popupbox {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  color: white;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
}
#errorbox {
  background-color: #cf3328;
}
#warningbox {
  background-color: #e2a217;
}
#successbox {
  background-color: #3b9954;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.boxcontent {
  padding: 0;
  margin: 0;
}
.tab {
  background-color: white;
  height: auto;
}
.tab button {
  font-size: 1em;
}
.postbutton {
  background-color: #ddd;
  border: none;
  outline: none;
  margin: 8px;
  padding: 5px 16px;
  transition: 0.3s;
}
.postbutton:hover {
  background-color: #ccc;
  cursor: pointer;
}
.backButton {
  background-color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
  padding: 8px 16px;
  transition: 0.3s;
}
.relevantButton {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ccc;
}
.relevantButton:hover {
  background-color: #73a07f;
  cursor: pointer;
}
.relevantButton.activated {
  background-color: #3b9954;
}
.relevantButton.activated:hover {
  background-color: #ba5925;
}
.relevantButton.rotate {
  -webkit-animation: upvoteRotation 1.5s infinite 0s ease-in-out;
          animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  cursor: default;
}
.relevantButton.rotate div {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: black;
  margin: 2px;
}
.triangle {
  width: 0;
  height: 0;
  margin-right: 10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #ccc;
}
.triangle:hover {
  border-bottom: 25px solid #73a07f;
  cursor: pointer;
}
.triangle.rotate {
  -webkit-animation: upvoteRotation 1.5s infinite 0s ease-in-out;
          animation: upvoteRotation 1.5s infinite 0s ease-in-out;
  cursor: default;
}
.triangle.rotate:hover {
  background-color: inherit;
}
.triangle.activated {
  border-bottom: 25px solid #3b9954;
}
.triangle.activated:hover {
  border-bottom: 25px solid #ba5925;
}
.removeButton {
  font-weight: normal;
  transform: translate(0, -4px);
  font-size: 70%;
}
.removeButton:hover {
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
}
.editlink{
  margin: 0 10px;
  font-size: 1.2em;
}
.editlink:hover {
  cursor: pointer;
}
.collapsibleButton {
  padding: 8px;
  margin: 5px;
  background-color: #ddd;
  cursor: pointer;
  width: 60%;
  border: none;
  font-size: 15px;
}
.collapsible:hover {
  background-color: #ccc;
}
.backButton:hover {
  background-color: #ccc;
}
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.moreButton {
  margin: 10px;
  flex: 0 0 100%;
  background-color: #ccc;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.moreButton:hover {
  background-color: #ddd;
}
.tabcontent {
  display: none;
  padding-bottom: 100px;
}
.discussionList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.discussionObj {
  min-width: 200px;
  flex-basis: 220px;
  max-width: 300px;
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 5px;
}
.thumbnail {
  margin: auto;
  height: 150px;
  min-width: 200px;
  width: 100%;
  background-image: none;
  background-position: center;
  background-size: cover;
}
.inputZone {
  display: none;
}
.commentList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.commentList p {
  text-align: left;
}
.comment-card {
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.comment {
  margin: 10px;
}
#discussionBody {
  width: 90%;
  overflow: hidden;
}
.ObjLink {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}
.ObjLink:hover {
  opacity: 0.5;
}
.argumentRow {
  padding-top: 10px;
}
.argumentRow:after {
  display: table;
  clear: both;
}
.argumentColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: thin;
  float: left;
  margin: 1%;
  padding: 5px;
  width: 49%;
}
.argumentColumn.pro {
  margin-left: 0;
  border-color: rgba(0,133,0,0.5);
}
.argumentColumn.con {
  margin-right: 0;
 border-color: rgba(158,0,0,0.5);
}
.argumentColumn h3 {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
.commentLink:hover {
  opacity: 0.7;
  cursor: pointer;
}
.discussionForm {
  width: 70%;
  background-color: white;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);

}
.frontImage {
  width: 90%;
  margin: 5px;
  background-color: white;
}
.homelink {
  font-weight: bold;
  font-size: 2em;
  padding-left: 20px;
  margin: 10px;
}
.homelink:hover {
  cursor: hand;
}
.voteCounter {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  transform: translate(0, -4px);
}
.cardTitle{
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}
.ratio {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  font-size: 16px;
  margin-left: 4px;
  margin-right: 4px;
}
.ratio.box {
  position: relative;
  bottom: calc(24px - 100%);
  width: 100%;
  margin: 0;
  padding: 3px 0;
  background-color: white;
  box-shadow: 0 0 2px 2px white;
  opacity: 0.7;
}
#accountLogin {
  margin: 7px;
  font-size: 1.2em;
}
#profileImage {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}
#accountUsername {
  font-size: 1.2em;
  margin:auto;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
#accountBox {
  margin: 10px;
  max-width: 150px;
  overflow: hidden;
  background-color: #ddd;
}
#accountMenu {
  position: relative;
  font-size: 0.8em;
  max-height: 0;
  transition: max-height 0.4s ease-out;
  background-color: #f1f1f1;
  width: 100%;
  z-index: 1;
}
#accountMenu a { 
  color: black;
  padding: 12px 16px;
  display: block;
}
#accountMenu div { 
  display: flex;
  justify-content: space-between;
  color: black;
  width: 70%;
  max-height: 50px;
  padding: 12px 16px;
  display: block;
}
#accountMenu a:hover {
  background-color: #ddd;
}
#voteSlider{
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#voteSlider:hover{
  opacity: 1;
}
#voteSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
#voteSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}
#publishBtn {
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 5 20;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #d3d3d3;
}
#publishBtn:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
#coverPlaceholder {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  min-height: 150px;
  max-height: 20%;
  background-image: url('https://cdn.steemitimages.com/DQmTb43e7begK93PRNBvKY7Mk6TjyZyxybuV2JyuEcb556R/placeholder.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#coverPreview {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .argumentColumn {
    width: 100%;
  }

  .discussionForm {
    width: 90%;
  }
  .discussionList{
    display: inline;
  }
  .ObjLink {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .discussionObj {
    max-width: 90%;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 5px;
  }
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}
@keyframes upvoteRotation{
  0%{
      transform: rotate(10deg);
      transform-origin: 50% 50%;
      }
  10%{
      transform: rotate(-10deg);
      transform-origin: 50% 50%;
      }
  100%{
      transform: rotate(370deg);
      transform-origin: 50% 50%;
      }
}