#profileCard {
    display: flex;
    margin-top: 10px;
    width: 90%;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

#profileInfo {
    background-color: #06706b;
    color: white;
    min-width: 150px;
    width: 20%;
    padding: 10px;
}

#profileInfo p {
    margin: 10px;
    text-align: justify;
}

#profileContent {
    min-height: 300px;
    width: 80%;
    padding: 20px;
}

#profileImageLarge {
    width: 90%;
    border-radius: 50%;
    border: 2px solid white;
    padding-top: 90%;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

#ProfileUsername {
    display: inline-block;
    font-size: 1.5em;
}

#profileReputation {
    display: inline-block;
    font-size: 1em;
    padding: 0.3em;
    margin: 0;
    height: 1em;
    border-radius: 5px;
    background-color: #005551;
}

#powerBarContainer {
    width: calc(100% - 20px);
    height: 1.5em;
    top: 10px;
    background-color: #ddd;
    border-radius: 2px;
    text-align: left;
}

#votePowerBar {
    width: 100%;
    height: calc(100% - 0.5em);
    background-color: #005551;
    border-radius: 2px;
    padding: 0.25em;
    font-size: 1em;
}

.tabcontent {
    display: none;
    padding-bottom: 100px;
}

#TransferButton {
    background-color: #06706b !important;
    color: white;
}

#TransferButton:hover {
    background-color: #0aa59d !important;
}

#WalletContent {
    border-collapse: collapse;
}

#WalletContent tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

#WalletContent .rightcell {
    float: right;
}

#WalletContent .rightcell p {
    display: block;
    float: right;
}

#WalletContent .leftcell p {
    display: inline-block;
}

#WalletOperations {
    display: none;
    padding-left: 3%;
    flex-grow: 1;
}

#walletOperations button {
    font-size: 1em;
    display: inline-block;
    width: 100%;
    background-color: #ddd;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 15px 5px;
    transition: 0.1s;
}

#walletOperations button:hover {
    background-color: #ccc;
    cursor: pointer;
}

#claimRewards ul, #claimRewards li {
    margin-block-start: 0;
    padding-inline-start: 10px;
    list-style-type: none;
}

.moreInfo {
    cursor: pointer;
    display: inline-block;
}

.moreInfo span {
    position: absolute;
    background-color: white;
    max-width: 50%;
    margin: 5px 0;
    padding: 5px 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
}

#TransactionFade {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

#TransactionFade>div {
    box-sizing: border-box;
    background-color: white;
    width: 90%;
    max-width: 400px;
    margin-top: 10%;
    padding: 2px 30px 8px 30px;
    border-radius: 4px;
}

.TransactionInputZone p {
    text-align: left;
    margin: 1.5em 0 0.5em;
}

.TransactionInputZone input {
    padding: 5px;
}

.CurrButton {
    background-color: #0aa59d;
    border: 1px solid #06706b;
    color: white;
    font-size: 0.8em;
    outline: none;
    margin-top: 5px;
    padding: 3px 10px;
    transition: 0.1s;
}

.CurrButton:hover {
    background-color: #08857e;
    cursor: pointer;
}

.CurrButton.active {
    background-color: #06706b;
}

.CurrButton.active:hover {
    background-color: #08857e;
    cursor: pointer;
}

.confirm {
    background-color: #06706b;
    color: white;
    font-size: 1.1em;
    border: none;
    outline: none;
    margin: 20px 0 10px;
    padding: 5px 16px;
    transition: 0.1s;
}

.confirm:hover {
    background-color: #0aa59d;
    cursor: pointer;
}

.balance:hover {
    cursor: pointer;
}

.onOwnAccount, .onOtherAccount {
    display: none;
}

#followButton {
    color: white;
    font-size: 1.1em;
    width: calc(100% - 20px);
    height: 2em;
    background-color: #0aa59d;
    border-radius: 2px;
    border: none;
    outline: none;
    margin: 10px 0;
    transition: 0.1s;
}

#followButton:hover {
    background-color: #00645f;
    cursor: pointer;
}

.spinner {
    color: white;
    font-size: 1.1em;
    -webkit-animation: rotate 1s infinite 0s linear;
            animation: rotate 1s infinite 0s linear;
}

@media screen and (max-width: 600px) {
    #profileCard {
        display: block;
        width: 100%;
    }
    #profileInfo {
        display: flex;
        box-sizing: border-box;
        width: 100%;
    }
    #profileImageLarge {
        display: block;
        width: 50%;
        padding-top: 50%;
    }
    #powerBarContainer {
        display: inline-block;
        width: 70%;
    }
    #votePowerBar {
        font-size: 0.8em;
    }
    #ProfileUsername {
        font-size: 1.1em;
    }
    #profileReputation {
        font-size: 0.8em;
    }
    #profileInfo p {
        font-size: 0.9em;
        margin: 10px;
        text-align: left;
    }
    #profileInfo span {
        margin: auto;
    }
}