{
    "extends": "airbnb-base",
    "env": {
        "browser": true
    },
    "globals": {
        "user": true,
        "api": true,
        "showdown": true,
        "converter": true,
        "accessToken": true,
        "expiresIn": true,
        "weight": true,
        "steem": true,
        "sc2": true,
        "activePost": true,
        "URLvars": true
    }
}